<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh">

        <button type="button" onclick="sqanDevice();" class="btn btn-primary btn-rounded btn-lg" data-mdb-ripple-color="#ffffff">Tilføj enhed <i class="fas fa-download ms-1"></i></button>

        <div data-component="accordion"></div>
        <div data-component="test"></div>

    </div>
</div>
</div>