<div class="GaugeMeter" id="gmHumidity" data-width="10" data-size="200" data-append="&#176;" data-label_color="#FFFFFF" data-label="Humidity" data-theme="Green-Red" data-style="Semi" data-back="RGBa(0,0,0,.6)"></div>

<script>
  $(".GaugeMeter").gaugeMeter({
                percent: 0
            });
</script>