<div id={{id}} class="form-check form-switch"  style="padding-left:65px" >
  {{#value}}
  <input  class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked/>
  {{/value}}
  {{^value}}
  <input  class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"/>
  {{/value}}
  <label class="form-check-label" for="flexSwitchCheckDefault">{{label}}</label>
</div>