<div id="{{id}}" class="col-md-4 ">
    <div class="form-outline border rounded bg-light ">
      <input type="text" id="form12" class="form-control text-black-50" value="{{value}}"/>
      <div class="form-helper text-light">{{label}}</div>  
    </div>
</div>
