nånå
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top">
  <!-- Container wrapper -->
  <div class="container-fluid">

  

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>


      <!-- Icons -->
      <ul class="navbar-nav d-flex flex-row me-1">
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" onclick="loadPage('page.settings');" href="#"><i class="fas fa-bars"></i></a>
        </li>
      </ul>

    </div>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->