
<div class="d-flex bg-none mb-3" style="height: 100px;">
  <div class="col-10"><h4 class="pb-5">Enheds indstillinger</h4></div>
  <div class="col-2 text-end"><div component="button.close" onclick="loadPage('page.device.list');"></div></div>
</div>

 <form class="row g-5 needs-validation" novalidate>
     <div id="name" component="input.text" label="Navn" value="{{user.phone}}"></div>

    <!--  TODO: Profile-->
    <div id="receiveSms" component="input.switch" label="Modtag SMS advarsler" value="{{user.receiveSms}}"></div>
     <div id="receiveEmail" component="input.switch" label="Modtag Email advarsler" value="{{user.receiveEmail}}"></div>

   <div class="d-grid  d-md-block ">
      <div component="button.primary" label="Gem" onclick="save();"></div>
   </div>

   <div class="d-grid  d-md-block ">
      <div component="button.primary" label="Fjern denne enhed" onclick=""></div>
   </div>
</form>


