
   <h1 class="mb-3">Settings</h1>

   <div component="input.phone" label="bob" value="ass"></div>
   <div component="input.text" label="bob" value="ass"></div>t

<!--  
   <button type="button" onclick="scanDevice();" class="btn btn-primary btn-rounded btn-lg" data-mdb-ripple-color="#ffffff">Tilføj enhed <i class="fas fa-download ms-1"></i></button>
-->

   