
Page Settings

   <button type="button" onclick="scanDevice();" class="btn btn-primary btn-rounded btn-lg" data-mdb-ripple-color="#ffffff">Tilføj enhed <i class="fas fa-download ms-1"></i></button>


<a class="nav-link" onclick="loadPage('page.main');" href="#">Home<i class="fas fa-bars"></i></a>