
<div class="d-flex bg-none mb-3" style="height: 100px;">
  <div class="col-10"><h4 class="pb-5">Tilføj ny enhed</h4></div>
  <div class="col-2 text-end"><div component="button.close" onclick="loadPage('page.device.list');"></div></div>
</div>

<div type="primary" onclick="scanDevice();" label="Skan QR"></div>
